<% #  This file is app/views/movies/index.html.haml %>
<h2>All Movies</h2>
<%= form_tag movies_path, :method => :get do %>
  Include:
  <% @all_ratings.each do |rating| %>
    <%= rating %>
    <%= check_box_tag "ratings[#{rating}]" %>
  <% end %>
  <%= submit_tag 'Refresh' %>
<% end %>
<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <!--/ %th Movie Title
      -->
      <!--/ %th Rating
      -->
      <!--/ %th Release Date
      -->
      <!--/ %th More Info
      -->
      <!--/ my modification
      -->
      <!--/ %th Movie Title
      -->
      <th class="<%= ("hilite" if params[:sort] == "title") %>">
        <%= link_to 'Movie Title', movies_path(:sort => 'title'), :id => 'title_header' %>
      </th>
      <th>Rating</th>
      <!--/ %th Release Date
      -->
      <th class="<%= ("hilite" if params[:sort] == "release_date") %>">
        <%= link_to 'Release Date', movies_path(:sort => 'release_date'), :id => 'release_date_header' %>
      </th>
      <th>More Info</th>
      <!--/ modification completed
      -->
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= movie.title %>
        </td>
        <td>
          <%= movie.rating %>
        </td>
        <td>
          <%= movie.release_date %>
        </td>
        <td>
          <%= link_to "More about #{movie.title}", movie_path(movie) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new movie', new_movie_path %>
